
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/
.ipynb_checkpoints/
*.log
.DS_Store
Thumbs.db
.vscode/

.idea/
build/
dist/
*.egg-info/
#Data files

#model arifacts
*.pkl

#output and results
# results
# output_preprocess
# models
# granger_outputs

*.code-workspace

*.csv

#temporary notebooks
temp_*.ipynb